.cuerpo {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #333333;
  line-height: 1.6;
  width: 50%;
  font-size: 15px;
}
h1 {
  color: blueviolet;
  font-family: Arial, sans-serif;
  font-size: 24px;
}
h2 {
  color: #2E7D5B;
  text-align: center;
  font-size: 19px;
}
.flex{
      display:flex;
     flex-wrap:wrap;
    justify-content:space-between;
}
.img{
  width: 50%;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}
.cont{
      display:flex;
      flex-wrap:wrap;
      justify-content:space-between;
      font-family: Arial, sans-serif;
}
.img2{
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}